.stitched {
   padding: 20px;
   background: rgba(51, 173, 255,0.4);
   color: #007acc;
   font-size: 20px;
   font-weight: bold;
   /*line-height: 1.3em;*/
   border: 2px dashed blue  ;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #0099ff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
