@font-face {
    font-family: paragraphFont;
    src: url(../Fonts/gillsans.ttf);
}

.stitched {
   position: absolute;
   top: 30%;
   left: 23%;
   padding: 20px;
   width: 50%;
   height: 40%;
   background: rgba(51, 173, 255,0.3);
   color: #007acc;
   font-family: 'SnigletRegular';
   font-size: 20px;
   color: black;
   border: 3px dashed white;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #0099ff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}
