.wrapper {
  margin-left: 50%;
  width: 400px;
  z-index: -1;
}

.picture {
  width: 400px;
  position: relative;
  margin: 0 0px;
}

.hook {
  width: 4px;
  height: 4px;
  background-color: #5c5c5d;
  margin: 0 auto 32px auto;
  border-radius: 10%;
  box-shadow: 0 1px 0 1px #a49c7c;
}

.hook:before {
  content: '';
  width: 40px;
  height: 40px;
  border: 2px solid #a49c7c;
  position: absolute;
  left: 178px;
  top: 13px;
  transform: rotate(45deg);
  z-index: -1;
}

.frame {
  height: 120px;
  border-top: 6px solid #b89675;
  border-right: 6px solid #7b654f;
  border-bottom: 6px solid #7b654f;
  border-left: 6px solid #a67c52;
  z-index: 1;
}

.inside {
  height: 100px;
  background: linear-gradient(149deg, #d3d4d5 0%,#d3d4d5 50%,#ccc 51%,#ccc 100%);
  border: 10px solid #fff;
  box-shadow: 1px 1px 1px 1px rgba(189,193,194,0.3) inset;
}
