@import url('http://fonts.googleapis.com/css?family=Dosis:300,600');
.box,
.box:before,
.head,
.caption {
    display: block;
}
.box:before,
.head,
.caption {
    position: absolute;
}
.box {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background: skyblue;
    border-radius: 50%;
    margin-left: -55%;
    bottom: 420px;
    /*-webkit-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);*/

    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.box:before {
    content: '';
    color: #000;
    /*top: 13px;
  right: 13px;*/

    padding: 10px;
    background: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    /*-webkit-box-shadow: 1px 1px 0px skyblue, 2px 2px 0px skyblue, 3px 3px 0px skyblue;
  -moz-box-shadow: 1px 1px 0px skyblue, 2px 2px 0px skyblue, 3px 3px 0px skyblue;
  box-shadow: 1px 1px 0px skyblue, 2px 2px 0px skyblue, 3px 3px 0px skyblue;*/

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.box:hover {
    padding-left: 150px;
    -webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}
.box:hover:before {
    right: -300px;
}
.head {
    height: 100%;
    width: 650px;
    top: 0px;
    left: -155px;
    margin: 0px;
    padding-left: 20px;
    background: transparent;
    -webkit-transition: all 0.45s;
    -moz-transition: all 0.45s;
    -ms-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
}
.head:hover {
    left: 0px;
}
.caption {
    background: skyblue;
    height: 100%;
    padding: 15px 20px 0px 0px;
}
h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}
h5 {
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 1px;
}
